body{
   text-align: center;
   margin: 0px;
   padding: 0px; 
}
div{
    display: flex;
    padding-left: 2em;
    padding-right: 2em;
}
section{
    width: 50%;
    background-color: rgb(225, 225, 225);
    margin: 0.5em;
    border-radius: 1.5em;
}
input{
    padding: 0.5em;
    border-radius: 0.5em;
}
button{
    padding: 0.5em;
    border-radius: 0.5em;
}