*{
    margin: 0px;
    padding: 0px;
}

.contenedor{
    display: grid;
    grid-template-areas: 'header header'
                        'aside cuerpo'
                        'footer footer';
}

header{
    grid-area: header;
    background-color: lightgoldenrodyellow;
}

.asides{
    grid-area: aside;
    background-color: lightcyan;
}

.contenido{
    grid-area: cuerpo;
    background-color: lightblue;
}

footer{
    grid-area: footer ;
    background-color: aqua;
}


