*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    min-height: 5vh;
}

.principal{
    min-height: 90vh;
    background-image: url('media/fondo.png');
    background-repeat: repeat;
    background-size: cover;
    background-position: bottom center;

    display:grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-content: center;
    /* align-items: end;  */
}

.item2, .item4, .item6, .item8, .item10, .item12, .item14{
    display: flex;
} 

.item2, .item4{
    align-items: end;
    justify-content: center;
}

.item6{
    align-items: start;
    justify-content: center;
}

.item8{
    align-items: center;
    justify-content: center; 
}

footer{
    min-height: 5vh;
}

